extends base.pug

block scripts
 script(src='/static/index.js')

block style
   style
      include ../static/style.css

block content
  div.container
      h2 WELCOME
      h1 TO CAFETERIA  
  div.btn
     <button class="botton"><a href="/signup">sign up</a></button>
     <button class="botton"><a href="/login">sign in</a></button>
  