<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menucard</title>
    style 
     include ../static/menucard.css
</head>
<body>
    
<div class="container">
    <h3>SANDWICH</h3>
    <div class="shop-item">
    <ul class="sandwich">
        <li class="items" >VEG CHEESE SANDWHICH<p class="rates">70 rs</p> </li>
        <li class="items" >VEG SANDWICH<p class="rates">50 rs</p></li>
        <li class="items" >CHEESE CHATNI SANDWICH<p class="rates">60 rs</p></li>
        <li class="items">CHOCOLATE SANDWICH<p class="rates">70 rs</p></li>
    </ul>
    </div>
    
    <h3>PIZZA</h3>
    <div class="shop-item">
    <ul class="pizza">
        <li class="items">CHEESE CORN PIZZA<p class="rates">130 rs</p></li>
        <li class="items">VEGGIE PIZZA<p class="rates">140 rs</p></li>
        <li class="items">CORN PANEER PIZZA<p class="rates">205 rs</p></li>
        <li class="items">MARGHERITA<p class="rates">210 rs</p></li>
    </ul>
    </div>
    <h3>BURGER</h3>
    <div class="shop-item">
    <ul class="Burger">
        <li class="items">CREEMY BURGER<p class="rates">50 rs</p></li>
        <li class="items">SPECIAL BURGER<p class="rates">70 rs</p></li>
        <li class="items">DOUBLE CHEESE BURGER<p class="rates">85 rs</p></li>
        <li class="items">VEG BURGER<p class="rates">50 rs</p></li>
    </ul>
    </div>
    <h3>PASTA</h3>
    <div class="shop-item">
    <ul class="pasta">
        <li class="items">RED SAUCE PASTA<p class="rates">110 rs</p></li>
        <li class="items">TANDOORI SAUCE PASTA<p class="rates">70 rs</p></li>
        <li class="items">WHITE SAUCE PASTA<p class="rates">90 rs</p></li>
        <li class="items">MIX RED SAUCE PASTA<p class="rates">115 rs</p></li>
    </ul>
    </div>
    <h3>MAGGIE</h3>
    <div class="shop-item">
    <ul class="maggie">
        <li class="items">CLASSIC MAGGIE<p class="rates">55 rs</p></li>
        <li class="items">SPICY HOT MAGGIE<p class="rates"> 75 rs</p></li>
        <li class="items">SCHEZWAN MAGGIE<p class="rates">80 rs </p></li>
        <li class="items">CHEESE MAGGIE<p class="rates">75 rs</p></li>
    </ul>
    </div>
    <h3>CHINESE</h3>
    <div class="shop-item">
    <ul class="chinese">
        <li class="items">MANCHURIAN DRY<p class="rates">75 rs</p></li>
        <li class="items"> MANCHURIAN GRAVY<p class="rates">60 rs</p></li>
        <li class="items">FRIED RICE<p class="rates">80 rs</p></li>
        <li class="items">NOODLES<p class="rates">75 rs</p></li>
    </ul>
    </div>
    <h3>SHAKES</h3>
    <div class="shop-item">
    <ul class="shakes">
        <li class="items">CHOCOLATE SHAKE<p class="rates">90 rs</p></li>
        <li class="items">OREO SHAKE <p class="rates">110 rs</p></li>
        <li class="items">KITKAT SHAKE<p class="rates">80 rs</p></li>
        <li class="items">COLD COFFEE<p class="rates">70 rs</p></li>
        <li class="items">COLD COOFFEE WITH ICE-CREAME<p class="rates">90 rs</p></li>
    </ul>
    </div>
    <h3>MOMOS</h3>
    <div class="shop-item">
    <ul class="momos">
        <li class="items">VEGGIE MOMO<p class="rates">80 rs</p></li>
        <li class="items">CORN CHEESE MOMO<p class="rates">65 rs</p></li>
        <li class="items">PANEER MOMO<p class="rates">80 rs</p></li>
    </ul>
    </div>  
    <h3>COFFEE</h3>
    <div class="shop-item">
    <ul class="coffee">
        <li class="items" id>CAPPUCCINO COFFEE<p class="rates">50 rs</p></li>
        <li class="items">GLACE COFFEE<p class="rates">65 rs</p></li>
        <li class="items">LATTE COFFEE<p class="rates">70 rs</p></li>
    </ul>
    </div>
        
</div>
    <script src ="../static/cart.js"></script>
</body>
</html>
     