@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
    margin:0px;
    box-sizing: border-box;
    padding:0px;
    transition: all .2s linear;
}
input {
    text-align: center;
  }
-webkit-input-placeholder {
    text-align: center;
  }
h1{
    text-align: center;
    margin: 12px 0px;

}
.container{
        width: 78vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255,255,255,.1);
        margin: 74px;
        margin-top: 35px;
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
        border-top: 1px solid rgba(255,255,255,.3);
        border-left: 1px solid rgba(255,255,255,.3);
        backdrop-filter: blur(10px);
    
}
.container h1{
    color:burlywood;
    font-size: 34px;
}
.myForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInput {
        width: 500px;
        padding: 9px 9px;
        margin: 3px 4px;
         border: 2px solid grey; 
        border-radius: 23px;
        outline: none;
        box-shadow: 0 0 5px rgba(255,255,255,.5);
        background: rgba(0,0,0,.1);
        color: burlywood; /*rgba(255,255,255,.1) */
    }
input {
    align-items: center;
    font-size: 20px;
}
.btn{
    padding:12px 16px;
    width:25%;
    margin:12px 10px;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 23px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    color:rgb(37, 36, 34);
}
.btn:hover{
    background: grey;
    
}
